<div class="location">
    <a href="/locations/{{this.locationRoute}}" alt="Dominic's {{this.locationNumber}} - {{this.locationCity}}" >
        <img src="{{this.locationImage}}" alt="{{this.locationName}} image" class='card-image'>
        <div class="location-title-background">
            <h5>{{this.locationName}} - {{this.locationCity}}</h5>
        </div>   
    </a>
</div>