<div class="location">
    <a href="/locations/{{this.locationRoute}}" alt="Dominic's {{this.locationNumber}} - {{this.locationCity}}">{{this.locationName}} - {{this.locationCity}}</a>
    <div class="location-title-background"></div>
</div>